# dependencies
/node_modules
/.pnp
.pnp.js

# next.js / static export
/.next/
/out/
/build/

# local configuration
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript / editors / operating systems
*.tsbuildinfo
next-env.d.ts
.DS_Store
.vscode/
.idea/
